.clear{clear: both;}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}


@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body{
	font-family: 'caviar_dreamsregular', sans-serif;
	background:#f4f4f4;
	font-size: 100%;
}
body a{
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

a:focus {
    outline: none;
}

.header{
	width: 100%;
	background: #f4f4f4;
}
.header-top{
	/* padding: 1% 0; */

}

.navbar-shrink{
    left: 0;
    right:0;
    position: fixed;
    z-index: 1030;
    background: #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(68,68,68,0.3);
    -moz-box-shadow: 0px 2px 4px 0px rgba(68,68,68,0.3);
    box-shadow: 0px 2px 4px 0px rgba(68,68,68,0.3);
}
.logo{
	float:left;
	background: #333;
	padding: 15px 10px;
	margin: 0;
}

.logo a img {
    height: 31px;
}

.page-title {
    float: left;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin: 0 10px;
}

.my_name {
    padding-bottom: 0;
    margin: 10px 0 0;
}

.job_title {
    color: #e69b4c;
    margin-bottom: 0;
    font-family:'caviar_dreamsregular';
}

span.plus {
    color: #333;
    font-size: 16px;
    padding: 0 1px;
}


.menu{
	 float:right;
}
  .menu li{
	display:inline-block;
	float:left;
	}
 .menu li:first-child{
   	margin-left:0;
 }
 .menu li a{
  	display: block;
  	font-size:15px;
  	text-transform: uppercase;
  	padding: 20px 20px;
  	color: #333;
  	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
  	margin: 0 !important;
 }
 .menu li a:hover {
 	color:#e69b4c;
 }
 .menu li a.active{
	 background:#e69b4c;
	 color:#fff;
 }
 #nav .current a {
	 color:#e69b4c;
}
.toggleMenu {
    display:  none;
  	padding: 15px 0px 0px 0px;
}
.nav:before,
.nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}

@media screen and (max-width:800px) {
	.active {
        display: block;
    }
    .menu li a{
    	text-align:left;
    	border-radius:0;
    	-webkit-border-radius:0;
    	-moz-border-radius:0;
    	-o-border-radius:0;
    }
    .nav {
    list-style: none;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.97);
    top: 68px;
    z-index: 111;
    right: 0;
	}

	#nav a {
    color: #e69b4c;
}

	#nav a:hover {
    background: transparent;
}
    /*.nav:after {
		content: '';
		position: absolute;
		right:8px;
		top: -9px;
		border-left:10px solid rgba(0, 0, 0, 0);
		border-right:10px solid rgba(0, 0, 0, 0);
		border-bottom:10px solid rgba(73, 84, 91, 0.87);
	}*/
    .menu li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav li ul{
    	width:100%;
    }
    .menu ul{
    	margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
    	border-top:1px solid #e69b4c;
    }
     .nav li:first-child a{
     	border-top:none;
     }
 }
.header-bottom{
	padding:15% 0;
	text-align:center;
}
.header-bottom h1{
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size:2.7em;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width:48%;
	margin: 0 auto 2% auto;
}
.header-bottom h2{
	font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size:2.7em;
	text-transform: uppercase;
	background: #4B565D;
	padding: 10px;
	width:68%;
	margin: 0 auto;
}
/*--About Me--*/
.about{
	background:#e69b4c;
	padding:10% 0;
}
.pursuit, .purpose , .passions{
	display:inline-block;
	margin: auto;
	width:100%;
	height:20em;
}

.pursuit{
	background: url("../images/pursuit.png") no-repeat center;
}

.purpose{
	background: url("../images/purpose.png") no-repeat center;
}

.passions{
	background: url("../images/passions.png") no-repeat center
}
.m_4{
	margin-bottom: 5%;
	position: relative;
}
span.bottom_line{
	width: 50px;
	display: block;
	border-bottom: 2px solid #FFF;
	position: absolute;
	bottom:-10px;
	margin:0 15px;
}
h3.m_3{
	color:#fff;
	font-size:2em;
	font-family: 'caviar_dreamsregular';
	text-transform:uppercase;
	margin:0 15px;
}
h3.m_1{
	color: #FFF;
	font-size: 1.7em;
	text-transform: uppercase;
	margin: 5% 0;
	text-align: center;
}
p.m_2{
	color:#fff;
	font-size:14px;
	line-height:1.5em;
}

.ab-list {
	margin:0;
	 padding:2em !important;
}
.ab-list li {
    font-size: 16px;
    font-weight: 900;
    color: #333;
    list-style: none;
    text-align: left;
    margin:2em 0 0 0 ;


}
.ab-list li:before{
	margin-bottom: 20px;
    display: block;
    font-size: 1.5em;
    text-align: center;
}

.education:before {
    content: "\f19d" ;
    font-family: 'FontAwesome';

}

.job:before {
    content: "\f0b1";
    font-family: 'FontAwesome';
}

.travel:before {
    content: "\f072";
 font-family: 'FontAwesome';
}
.idea:before{
content: "\f0eb";
font-family: 'FontAwesome'	;
}


.direction:before{
content: "\f14e";
font-family: 'FontAwesome'
}

.goal:before{
content: "\f140";
font-family: 'FontAwesome'

}
.movies:before{
content: "\f008";
font-family: 'FontAwesome';
}
.cook:before{
content: "\f0f5";
font-family: 'FontAwesome';
}
/*--portfolio--*/
.Portfolio1{
	padding:2% 0 8%;
	background: #FFF;
	-webkit-box-shadow: 0px -4px 4px 0px #eee;
    -moz-box-shadow: 0px -4px 4px 0px #eee;
    box-shadow: 0px -4px 4px 0px #eee;
}
.portfolio_top{
	margin-bottom:2%;
}
h3.m_5 {
	color: #333;
	font-size: 2em;
	font-family: 'caviar_dreamsregular';
	text-transform: uppercase;
}
h4.m_5 {
    text-transform: uppercase;

}

.contact .m_5 {
    color: #fff;
}

#about .m_5 {
    color: #fff;
    margin-bottom: 40px;
    font-family: 'caviar_dreamsregular';
}
.m_6 {
	position: relative;
}

.col-sm-3{
    margin-bottom: 30px;
}


span.portfolio_line {
	width:60px;
	display: block;
	border-bottom: 2px solid #515f67;
	position: absolute;
	bottom: 0px;
}
.portfolio_left{
	float:left;
}

#galleryTab {
    float: right;
    padding: 0;
	list-style: none;
}

	#galleryTab a {
    padding: 1.87em;
    text-decoration: none;
    cursor: pointer;
    font-size: .85em;
    display: inline-block;
    color: #333;
    float: left;
}

	#galleryTab a.active {
		border: 2px solid #e69b4c;
		color: #e69b4c;
	}


/*-----------------------------------------------------------------------------------*/

			div#resume {
    padding: 20% 0;
}

.resume {
    background: #333;
}

.resume .m_5 {
    color: #fff;
}
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(75, 202, 255, 0.85);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
/*-----------------------------------------------------------------------------------*/
/*Portfolio
/*-----------------------------------------------------------------------------------*/

ul.list-inline.filter {
    float: right;
}

ul.list-inline.filter li{
    float: left;
    padding:10px 20px;

}

ul.list-inline.filter li a{
    color:#333;
}

ul.list-inline.filter li.active{
    border:1px solid #e69b4c;
}

ul.list-inline.filter li.active a{
    color:#e69b4c;
    text-decoration: none;
}

ul.list-inline.filter li:hover a{
    color:#e69b4c;
    text-decoration:none;
}

ul.list-inline.filter li:focus a{
    color:#e69b4c;
    text-decoration:none;
}

.col-sm-3 img {
    width: 100%;
}

.portfolio_left h4.m_5 {
    padding-top: 10px;
}
div#portfoliolist {
    padding: 0;
}
.portfolio-wrapper .btn {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.portfolio-wrapper .btn:focus, .btn:active:focus,
.portfolio-wrapper .btn.active:focus {
    outline: none;
    outline: none;
    outline-offset: 0;
}



.portfolio-area li{
float: left;
margin: 0 12px 20px 0;
overflow: hidden;
width: 23%;
padding:1%;
}
.home-portfolio-text{margin-top:10px;}

/* the color of the transparent overlay border */

.portfolio-section.port-col figure .overlay-background {
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
}


/* portfolio images */

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}

.overlay, .mobile{
    width:100%;
    height:auto;
}



.fancybox {
    margin-bottom: 30px;
    padding-bottom:0;
}

/* project title under image */


.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/
/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
	background:rgba(0,0,0,0.9);
    color:#fff;
    border-radius:0
}



/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
}
.b-animate img{
	margin-top:38%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
h3.m_4{
	float:left;
}
/*--default--*/
.default{
	background:#515f67;
	padding:6% 0;
}
p.m_7{
	color: #FFF;
	font-size:15px;
	line-height: 1.8em;
	margin:5% 0;
}
h3.m_21 {
	color: #FFF;
	font-size: 2em;
	font-family: 'caviar_dreamsregular';
	text-transform: uppercase;
}
.m_22 {
	position: relative;
	margin-bottom: 10%;
}
.m_8 {
	position: relative;
	margin-bottom: 10%;
}
span.default_line {
	width: 50px;
	display: block;
	border-bottom: 2px solid #FFF;
	position: absolute;
	bottom:0px;
}
.button a {
	color:#29353C;
	font-size:0.85em;
	text-transform: uppercase;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
	padding: 12px 35px 9px 35px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border:2px solid #29353C;
}
.button a:hover {
	background:#fff;
	border:2px solid #fff;
	color:#00B3FD;
}

p.m_9{
	color:#fff;
	font-size:1.5em;
	margin-top:2%;

}

p.m_10 {
	color: #FFF;
	font-size: 15px;
	line-height: 1.8em;
	margin:0 0 5%;
}
p.m_11 {
	color: #FFF;
	font-size: 15px;
	line-height: 1.8em;
}

.social {
    list-style: none;
    display: block;
    padding: 0 !important;
    margin:auto;
    width: 350px;
}

.social li {
    display: inline-block;
    width: 25%;
    float: left;
}

 .social li a {
   background-size: 40px;
   height: 40px;
   width: 40px;
   display: block;
   cursor: pointer;
   margin: auto;
   }


 .social li a:hover {
   background-size: 40px;
    display: block;
   }



.email{
	background: url(../images/email.png)no-repeat top ;
}

.email:hover{
	background:url(../images/email.png) no-repeat bottom ;
}

.linkedin{
	background: url(../images/linkedin.png)no-repeat top ;
}

.linkedin:hover{
	background:url(../images/linkedin.png) no-repeat bottom ;
}

.behance{
	background: url(../images/behance.png)no-repeat top ;
}

.behance:hover{
	background:url(../images/behance.png) no-repeat bottom ;
}

.twitter{
	background: url(../images/twitter.png)no-repeat top ;
}

.twitter:hover{
	background:url(../images/twitter.png) no-repeat bottom ;
}

p.m_12{
	color:#555;
	font-size: 1.5em;
	margin:3% 0;
}
span.m_13{
	color: #E69B4C;
	font-size: 0.95em;
}
/*--contact--*/
.contact{
	width: 100%;
	background: #333; /* fallback for old browsers */
	padding: 10% 0;
}
.commentform label, .contactform_bottom label {
	display: block;
	font-size:0.95em;
	color: #fff;
	text-transform:uppercase;
}
.commentform input[type="text"] {
	padding:20px;
	width:85%;
	color: #FFF;
	font-size: 0.85em;
	border:2px solid #fff;
	background:none;
	outline: none;
	display: block;
	font-family: 'Roboto', sans-serif;
}
p.comment-form-author{
	margin-bottom:8%;
}
.address p {
	font-size: 0.85em;
	line-height: 2em;
	color:#fff;
}
.address p span {
	text-decoration: underline;
	cursor: pointer;
}
.address p span:hover {
	text-decoration: none;
}
p.m_13{
	color:#fff;
	line-height:1.8em;
	font-size:0.85em;
	margin-bottom: 8%;
}
.commentform_desc1{
	display:none;
}
.contactform_bottom{
	margin:0 15px;
	padding-top: 2%;
}
.contactform_bottom textarea {
	padding:20px;
	display: block;
	width:100%;
	background:none;
	border:2px solid #fff;
	outline: none;
	color:#fff;
	font-size: 0.85em;
	font-family: 'Roboto', sans-serif;
	-webkit-appearance: none;
	resize: none;
	height:200px;
}
.contactform_bottom input[type="submit"] {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	padding: 20px 160px;
	text-transform: uppercase;
	background: #4BCAFF;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 5%;
}
.contactform_bottom input[type="submit"]:hover {
	background:#fff;
	color:#4BCAFF;
}

.spam-trap {
    display: none;
}

.footer-bottom{
	background: #333;
	padding:6% 0;
}
.copy{
	float:right;
}
.copy p{
	color:#536169;
	font-size:0.85em;
	text-decoration:none;
	text-transform:uppercase;
}
.copy p a{
	color:#fff;
}

	ul.footer-nav {
    list-style: none;
    color: #f4f4f4;
    padding: 0;
    margin: auto;
    width: 17.05em;

}
ul.footer-nav li:first-child{
	margin-left: 0;
}
ul.footer-nav li{
	display:inline-block;
	margin:0 .4em;
}
ul.footer-nav li a{
	color: #999;
	font-size:0.8em;
	text-decoration:none;
	text-transform:uppercase;
}
ul.footer-nav li a:hover{
	color:#fff;
}

#id123-button-send{
	background: #333;
    padding: 8px 35px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
}

#id123-button-send:hover{
	background: #444;
    color: #999;
    text-transform: uppercase;
    font-size: 1.25em;
}



#id123-button-send:before {
    content: "\e171";
    font-family: 'Glyphicons Halflings';
    margin-right: 15px;
}

#id123-button-send:focus {
    text-decoration: none;
    color: #999;
    outline: none;
}

.download {
    background: #e69b4c;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    border-radius: 4px;
    padding: 8px 20px;
    margin: auto;
    width: 13.2em;
    display: block;
    color: #333;
    white-space: nowrap;
}

.download:hover {
    text-decoration: none;
    color: #fff;
    background:#E5AF7F;
}
.download:before {
    content: "\e026";
    font-family: 'Glyphicons Halflings';
    margin-right: 15px;
}

.download:focus {
    text-decoration: none;
    color: #fff;
    outline: none;
}

textarea {
    resize: none;
}

textarea:focus {
    outline:none;
}

.divonecolumn.col-md-4.col-lg-4.col-sm-12 {
    padding-left: 0;
}

.subitem.col-lg-12.rowup.col-md-12.col-sm-12 {
    padding-left: 5px;
}

input#id123-control18730036 {
    padding-left: 0;
}

.subitem.col-lg-12.col-md-12.col-sm-12 {
    padding-left: 5px;
}
@media (max-width: 1024px){
.divonecolumn.second-column.col-sm-12 {
    padding-left: 0;
}
.subitem.col-lg-12.col-md-12.col-sm-12 {
    padding-left: 10px;
    padding-right: 0;
}
.subitem.col-lg-12.rowup.col-md-12.col-sm-12 {
    padding-left: 10px;
    padding-right: 0;
}

}
@media (min-width: 1024px){
.divonecolumn.second-column.col-md-8.col-lg-8.col-sm-12 .subitem.col-lg-12.col-md-12.col-sm-12 {
    padding-right: 0;
}
}


/*--responsive design--*/
@media (max-width:1366px){
.header-bottom h1 {
	font-size: 2.5em;
	width: 52%;
 }
 .header-bottom h2 {
 	font-size: 2.5em;
	width: 73%;
  }
}
@media (max-width:1280px){
.header-bottom h1 {
	font-size: 2.2em;
	width: 50%;
 }
 .header-bottom h2 {
 	font-size: 2.2em;
	width: 70%;
  }
}
@media (max-width:1024px){
	.logo{
		display:none;
	}

	.page-title{
		margin:0;
	}
.header-bottom h1 {
	font-size: 2em;
	width: 57%;
 }
 .header-bottom h2 {
 	font-size: 2em;
	width: 79%;
  }

 h3.m_5, h3.m_3, h3.m_21 {
   font-size: 1.8em;
 }
 p.m_7 {
	margin: 20px 0;
 }
 p.m_9, p.m_12{
	font-size: 1.2em;
 }
 .commentform input[type="text"] {
 	padding:15px;
 }
 h3.m_1 {
	font-size: 1.3em;
  }
  .contactform_bottom input[type="submit"] {
  	 padding: 18px 75px;
  }
  .single h3, .comment h2, .comments-area h2{
	font-size: 1.2em;
  }

}
@media (max-width:800px){
.header-bottom h1 {
	font-size: 1.7em;
	width: 61%;
 }
 .header-bottom h2 {
 	font-size:1.7em;
	width:85%;
  }
  h3.m_1 {
	margin: 10px 0;
	font-size:1.5em;
 }
 .top_grid{
 	margin-bottom:20px;
 	text-align:center;
 }
 .default_top{
 	margin-bottom:20px;
 }
 #filters li span {
	font-size: 14px;
 }
.m_22 {
	margin-bottom: 6%;
 }
 .b-animate img {
	margin-top: 33%;
 }
 .commentform_desc{
 	margin:20px 0;
 	display:none;
 }
 .commentform_desc1{
 	display:block;
 	margin-top:20px;
 }
 p.m_13 {
	margin-bottom: 10px;
 }
 .single_button a {
 	padding: 17px 45px;
 }
 .top_grid1{
 	text-align:center;
 }
}
@media (max-width:750px){
 .header-top {
	padding:10px 0;
 }
 .header-bottom h1 {
	font-size: 1.5em;
	width: 57%;
 }
 .header-bottom h2 {
	font-size: 1.5em;
	width: 79%;
 }



 h3.m_5, h3.m_3, h3.m_21 {
	font-size: 1.5em;
 }
 p.m_9, p.m_12 {
	font-size: 1em;
 }
 p.m_10 {
	font-size: 14px;
	line-height: 1.5em;
	margin: 0 0 10px;
 }
 p.m_7 {
	margin: 15px 0;
	font-size: 14px;
	line-height: 1.5em;
 }
 h3.m_1 {
	font-size: 1.2em;
 }
 p.comment-form-author {
	margin-bottom: 20px;
 }
 .commentform input[type="text"], .contactform_bottom textarea {
 	padding:12px;
 }
 .m_13 {
	margin-bottom: 10px;
	font-size:14px;
	line-height:1.5em;
 }
 .contactform_bottom input[type="submit"] {
 	padding: 15px 80px;
 }
 .contactform_bottom textarea {
	width: 98%;
	height: 150px;
 }
 .social {
	margin-top: 20px;

 }


 .footer-bottom {
	padding: 20px 0;
 }
 .single_button a {
   padding: 12px 30px;
 }
 .single p {
	color: #555;
	font-size:0.8125;
	line-height: 1.5em;
	margin:10px 0;
 }
.mobile{
 display:inline-block;
}

.desktop {
 display:none;
}
.fancybox{
pointer-events: none !important;
   cursor: default;

}

}

@media (min-width:750px){

.mobile{
display:none;
}
.desktop{
 display:inline-block;
}
	}
@media (max-width:640px){
 .header-bottom h1 {
	font-size: 1.3em;
	width: 61%;
 }
 .header-bottom h2 {
	font-size: 1.3em;
	width: 83%;
 }
 #filters li span {
	font-size: 12px;
	padding: 4px 8px;
 }
}
@media (max-width:480px){
 .header-bottom h1 {
	font-size: 1em;
	width: 65%;
 }
 .header-bottom h2 {
	font-size: 1.3em;
	width: 83%;
 }
 #filters li span {
	font-size: 12px;
	padding: 4px 8px;
 }
 .header-bottom h2 {
	font-size: 1em;
	width: 88%;
 }
 #portfoliolist .portfolio {
	width:48%;
 }
 .portfolio_left {
	float: none;
 }
 #filters {
	margin-top: 7%;
 }

 #galleryTab a {
    padding: 1.5em;
}

#galleryTab {
    float: left;
}
}
@media (max-width:320px){
 .header-bottom h1 {
	font-size:0.85em;
	width:90%;
	margin-bottom:0;
 }
 .header-bottom h2 {
	display:none;
 }
 #filters li span {
	font-size: 12px;
	padding: 4px 8px;
 }
 .header-bottom h2 {
	font-size: 1em;
	width: 88%;
 }
 #portfoliolist .portfolio {
	width:48%;
 }
 .portfolio_left {
	float: none;
 }
 #filters {
	margin-top: 7%;
 }
 p.m_11 {
	display: none;
 }
 ul.social li {
	margin-right: 5px;
 }
 #galleryTab a {
    padding: 1em;
}
}

@media (max-width: 768px) {
	.fancybox{
		margin-bottom:30px;
	}

	}





.overlay {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}


.overlay:hover {
-webkit-filter: none;
	filter: none;
	filter: none;
	filter: none;
}

span.mobile{
	color:#333;
	margin-top:20px;
	text-decoration:none;
	text-align: justify;
}

#print{
   	display:none;
   }
/*Print Styles*/

@media print and (color) {

   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }

     body {
  -webkit-print-color-adjust: exact;


}

@page{
size:8.27in 11.69in;
margin:.5in .5in .5in .5in;
mso-header-margin:.5in;
mso-footer-margin:.5in;
mso-paper-source:0;
}


 a[href]:after{
        content:"";
    }
 a[href]:before{
        content:"";
   }

    #menu, #galleryTab, #contact, .footer-bottom,#about , #resume, #work, .logo{
        display:none !important;
    }

   #print{
   	display:block;
   }

  .m_5{
  	margin-bottom: .65in !important;
  	page-break-before: always !important;
  }
  .m_5.top{
  	page-break-before: avoid !important;
  	margin-top:.5in;
  }

    .mobile{
  	margin-bottom: .25in !important;
  }
  .break{
  	page-break-after: always !important;
  }
  .page-title, .my_name {
    margin: 0 !important ;
}
.container{
	padding:0 !important;
}

}
