@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 98%;
	max-width: 1232px;
	padding-left: 1%;
	padding-right: 1%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display:inline-block;
}
}
body {
  font-size: 100%; }
@font-face {
    font-family: 'antoniobold';
    src: url('../type/antonio-bold-webfont.eot');
    src: url('../type/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/antonio-bold-webfont.woff') format('woff'),
         url('../type/antonio-bold-webfont.ttf') format('truetype'),
         url('../type/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;}


@font-face {
    font-family: 'antoniolight';
    src: url('../type/antonio-light-webfont.eot');
    src: url('../type/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/antonio-light-webfont.woff') format('woff'),
         url('../type/antonio-light-webfont.ttf') format('truetype'),
         url('../type/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'antonioregular';
    src: url('../type/antonio-regular-webfont.eot');
    src: url('../type/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/antonio-regular-webfont.woff') format('woff'),
         url('../type/antonio-regular-webfont.ttf') format('truetype'),
         url('../type/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'carnivalee_freakshow_demoRg';
    src: url('../type/carnevalee_freakshow_demo-webfont.eot');
    src: url('../type/carnevalee_freakshow_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/carnevalee_freakshow_demo-webfont.woff') format('woff'),
         url('../type/carnevalee_freakshow_demo-webfont.ttf') format('truetype'),
         url('../type/carnevalee_freakshow_demo-webfont.svg#carnivalee_freakshow_demoRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{position:relative;
	padding:0;
	margin:0;
	background-color: #faf7c9;
	max-width:100%}
	

h2 {color:#a43c2e;
	font-family:'antoniobold';
	font-size: 1.05em;
	width:70%;
	text-align: center;
	margin:auto;
	line-height: ..9em;
	padding-top: 2em;
	text-transform: uppercase;}

p {font-family:'antoniolight';
	font-size:1em;
	text-align: left;
	color:#f1e09e;
	margin:auto;
	padding-top: .75em;
	position: center;}

.round {max-width: 100%;
		max-height: auto;
		height:13em;
		width:13em;
		border-radius: 13em;
		background-color:#eb9a35;
		margin: auto;
		margin-bottom:.5em;}

section { width:25%;
		float:right;
		margin-top:-28em;
		margin-bottom: 0;
		padding-left: 75%}

.splash {width:100%;
		display: inline-block;
		position: relative;
		padding:0;
		margin:0;
		vertical-align: middle;}

.chicken {float: left;
		width:auto;
		height:100%;
		padding:0;
		margin:0;
		display: inline-block;}

.background {width:auto;
		height:100%;
		float: right;
		margin:0;
		padding:0;
		display: inline-block;}


footer {display: inline-block;
	width:100%;
	background-color: #eb9a35;
	}

.bar{width:35%;
	background-color: #eb9a35;
	height: 2.25em;
	float:left;
	margin: auto;
	bottom:0;}

.email {width:100%;
		position:right;
		margin:auto;
		padding:0;}

.signup-submit {width:275px;
				font-family: 'antoniobold';
				text-transform: uppercase;
				font-size:1.3em;
				color:#f1e09e; 
				background-color:#a43c2e;
				box-shadow: 1px;
				border: 2px outset buttonface;
				border-color: #eb9a35;
				padding:0;}

input {
		width:272px;
		font-family: 'antoniolight';
		-webkit-appearance: textfield;
		background-color: #f1e09e;
		border: 2px inset;
		border-color: #eb9a35;
		font-size: 1.25em;
		border-image-source: initial;
		border-image-slice: initial;
		border-image-width: initial;
		border-image-outset: initial;
		border-image-repeat: initial;
		-webkit-rtl-ordering: logical;
		-webkit-user-select: text;
		cursor: auto;}

.about {bottom:0;
		background-color: #a43c2e;
		color:#f1e09e;
		text-align: justify;
		text-justify:inter-word;
		font-size: 1.25em;
		padding-left:10%;
		padding-right:10%;
		padding-bottom:3%;
		padding-top: 0;}

