html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;}

@font-face {
    font-family: 'captain_howdyregular';
    src: url('../type/capth___-webfont.eot');
    src: url('../type/capth___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/capth___-webfont.woff') format('woff'),
         url('../type/capth___-webfont.ttf') format('truetype'),
         url('../type/capth___-webfont.svg#captain_howdyregular') format('svg');
    font-weight: normal;
    font-style: normal;}
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
}
h1 {
  font-size:32px;
  text-align:center;
  color:rgb(164,60,46);
  font-family: 'captain_howdyregular';
  padding:0;
  margin:0;
}
h2 {
  font-size:22px;
  color:rgb(164,60,46);
  font-family: 'captain_howdyregular';
  padding:4px;
  margin: 0;
}
hr {padding:0;
    margin:0;
    border-color:rgb(164,60,46);
    height:0;}

p {font-size: 20px;
    font-family:'Helvetica' 'Arial';
    padding:0;
    margin:0;}


small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}
a {
  margin:0 0 0 10px;
  font-size:12px;
  color:#3c3c3c;
}
.swipe {
  padding-bottom:18px;
  position:relative;
  z-index:1;

}
.swipe li div, .swipe div div div {
  margin:0 8px;
  padding:20px 8px;
  box-shadow: inset 0 0 20px rgb(102 ,34,31);
  height: 172px;
  background:rgb(250,247,201);
  border-radius: 8px;
  font-weight:bold;
  color:rgb(164,60,46);
  font-size:50px;
  text-align:center;
  bottom: 0;

}

.background {background-image: url(../images/results.png);
        background-repeat: no-repeat;
        width:640px;
      height: 1136px;
      }

  .content {padding-top:25px;
            bottom:5px;
            }

  .hand{
    margin:auto;
    width:30%;
    margin-top:39.5%;
    margin-bottom:0em;
    padding-top: 0em;
    padding-bottom: 75px;
}
.hand img{
width:100%;}
