body {
	background-color: #E7E7E7;}
	
h1,h2,h3 {
	font-family: Helvetica, Arial;
	color: red;}
p {
	font-family: Helvetica, Arial;
	color: gray;}

ul {
	font-family: Helvetica, Arial;
	color: black;}
div {
	background-color: white;
	border: 2px black solid;}
