@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 98%;
	max-width: 1232px;
	padding-left: 1%;
	padding-right: 1%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
@font-face {
    font-family: 'voltaireregular';
    src: url('../type/voltaire-regular-webfont.eot');
    src: url('../type/voltaire-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../type/voltaire-regular-webfont.woff') format('woff'),
url('../type/voltaire-regular-webfont.ttf') format('truetype'),
url('../type/voltaire-regular-webfont.svg#voltaireregular') format('svg');
    font-weight: normal;
    font-style: normal;}

body{position:relative;
	padding:0;
	margin:0;
	background-color: #f1e09e;
	max-width:100%}
	

#columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }


.header{margin:auto;
		max-width: 100%;
		}

.title {width:100%;
	font-family: 'voltaireregular';
	font-size: 6em;
	color: white;
	background-color: #533a2e;
	margin-top: -1.9em;
	text-align:center;}

.menu{width:100%;
		padding:0;
		position: relative;
		display: inline-block;
		margin: auto;}

.left { width:200px;
	line-height: 1.05em;
	list-style: none;
	color: white;
	font-family: 'voltaireregular';
	text-align: center justify;
	font-size: 1.7em;
	padding: 0;
	margin: 0;
	margin-left: 0;
	display: inline-block;
	float: left;
	position: relative;
	background-image:url('../img/left.png');}

.middle {width:auto;
		height:100%;
		height:auto;
		float:left;
		position: relative;
		margin-top: -1em}
		
.right {width:auto;
		height:100%;
		color: white;
		padding:0;
		margin:0;
		float:left;
		position:center;
		margin-top: -2.15em}

div #gold {background-color:#fdcf6e;
			height:120px;
			padding:0;}

div #orange { background-color:#d26743;
				height:110px;
				padding:0;}

footer {float:right;
		width:475px;
		display: inline-block;
		font-family: 'voltaireregular';
		font-size: 1.25em;
		line-height: .5em;
		color: white;
		background-color: #533a2e;
		list-style: none;
		text-align: left;
		padding:0;
		margin-top: -3.25em;}

.footing {
		display: inline-block;
		list-style: none;
		padding:0;
		margin-left: 30px;
		margin-right:35px;}