body{background-color: #f1e09e;
	font-family:'voltaireregular';
	font-size:24px;}
	

	
@font-face {
    font-family: 'voltaireregular';
    src: url('../type/voltaire-regular-webfont.eot');
    src: url('../type/voltaire-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../type/voltaire-regular-webfont.woff') format('woff'),
	url('../type/voltaire-regular-webfont.ttf') format('truetype'),
	url('../type/voltaire-regular-webfont.svg#voltaireregular') format('svg');
    font-weight: normal;
    font-style: normal;}




	
		

a {color:#d26743;
	text-decoration:none;
	text-transform:uppercase;
	font-size:1em;
	padding:0px 40px 0px 0px;}

a:hover {color:#533a2e}
	
.about {background: url(../img/about.png) no-repeat right 0px;}
.food {background: url(../img/food.png) no-repeat right 0px;}
.home {background: url(../img/home.png) no-repeat right 0px;}
.calendar {background: url(../img/calendar.png) no-repeat right 0px;}
.blog {background: url(../img/blog.png) no-repeat right 0px;}

.about:hover {background-position: right -50px;}
.food:hover {background-position: right -50px;}
.home:hover {background-position: right -50px;}
.calendar:hover {background-position: right -50px;}
.blog:hover {background-position: right -50px;}

@media (max-width: 500px) { 
.about {background: url(../img/about.png) no-repeat right 10px;}
.food {background: url(../img/food.png) no-repeat right 10px;}
.home {background: url(../img/home.png) no-repeat right 10px;}
.calendar {background: url(../img/calendar.png) no-repeat right 10px;}
.blog {background: url(../img/blog.png) no-repeat right 10px;}

.about:hover {background-position: right -40px;}
.food:hover {background-position: right -40px;}
.home:hover {background-position: right -40px;}
.calendar:hover {background-position: right -40px;}
.blog:hover {background-position: right -40px;}}






