@charset "UTF-8";

/* Layout (global rules for all sizes) */

body {margin:0; padding:0}

 .page {max-width: 980px;
		margin: 0px auto 0px auto;
		position: relative;
		box-shadow: 0px 1px 10px 1px rgba(83, 58, 46, 0.5);
		-moz-box-shadow: 0px 1px 10px 1px rgba(83, 58, 46, 0.5);
		-webkit-box-shadow: 0px 1px 10px 1px rgba(83, 58, 46, 0.5);}
		
 nav {display:block;
 		background:#fff;
		position:absolute;
		width:100%;}


/* Layout Large Screens (default for older browsers */

.header{position: absolute;
		padding:0;
		margin:0;
		z-index:1;
		}
		
header {padding:0;
		margin:0;
		height:509px;}
		




.menu {display:inline-block;
	color:#fff;
	padding: 0;
	margin:0;
	width:100%;
	background: #d26743;
	position: relative;
	top:60px;}


h3{ font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	margin:0;
	padding-bottom:0.5em;}
	


.hot {width:30%;
	margin-left : 2.5%;
	position: relative;
	float: left;
	padding:0;
		}

.cold,.pastry {width:30%;
					margin-left: 2.5%;
					position: relative;
					float: left;
					padding:0;
					
			}
		.pastry {margin-right: 2.5%;}
	
	h3:hover {color:#fdcf6e}
	
 h3#hot {padding:147px 0px 0px 0px;
 		background: url(../img/hot.png) no-repeat  left 0px;}
h3#cold {padding:147px 0px 0px 0px;
		background: url(../img/cold.png) no-repeat  left 0px;}
h3#pastry {padding:147px 0px 0px 0px;
		background: url(../img/pastry.png) no-repeat left 0px;}

#hot:hover {background-position: right 0px;}
#cold:hover {background-position: right 0px;}
#pastry:hover {background-position: right 0px;}


ul {display: inline-block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 1em;
	font-family:"Arial Narrow",Arial, sans-serif; 
	text-transform: uppercase;
	font-size: .75em;
	line-height: 1.5em;}

span {font-size: .75em;
	line-height: .75em;
		font-style: italic;
		text-transform: none;
		}

.welcome {font-size:3.5em;
	font-family:'voltaireregular';
	text-align:center;
	color:#fdcf6e;
	padding-top:1em;
	margin:0;}
	
.passion { font-size:1.5em;
	font-family:'voltaireregular';
	text-align:center;
	}

nav {top:509px;
	padding-top: 15px;
	padding-bottom:15px;
	}
	
nav a { margin:0 0 0 11%;}

footer {background:#533a2e;
		color:#FFF;
		text-align: center;
		font-size:1em;
		padding:3em;
		margin:0;}
